.Clients {
    width: 100%;
    height: 650px;
    background: url("../../assets/images/servers.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}

.Clients-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
}

.Clients-container-title {
    text-align: center;
    color: var(--white);
    font-size: 40px;
}

.Clients-container-clients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

.Clients-container-clients-client {
    text-align: center;
}

.Clients-container-clients-client-image {
    width: 171px;
    height: 171px;
    background-color: var(--white);
    border-radius: 50%;
    margin-bottom: 30px;
    border: 3px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Clients-container-clients-client-text {
    color: var(--white)
}

@media (max-width: 700px) {
    .Clients-container {
        padding: 10px;
    }
    .Clients {
        height: 400px;
    }
    .Clients-container-clients-client-image {
        width: 120px;
        height: 120px;
    }
    .Clients-container-clients-client-text {
        font-size: 12px;
    }
    .Clients-container-title {
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .Clients {
        height: auto;
    }
    .Clients-container {
        padding-block: 3em;
    }
    .Clients-container-title {
        margin-bottom: 20px;
    }
    .Clients-container-clients {
        flex-direction: column;
        gap: 3em;
    }
}
