footer {
    width: 100%;
    background-color: var(--white);
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.Footer-section {
    display: flex;
    justify-content: space-between;
}

.Footer-image {
    width: 463px;
    height: 154px;
}

.Footer-separator {
    width: 2px;
    background-color: #707070;
    margin-left: 5rem;
    margin-right: 5em;
}

.Footer-section-info {
    display: flex;
    gap: 2rem;
    margin-block: 20px;
}