footer {
    width: 100%;
    background-color: var(--white);
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.Footer-section {
    display: flex;
    justify-content: space-between;
}

.Footer-image {
    width: 463px;
    height: 154px;
}

.Footer-separator {
    width: 2px;
    background-color: #707070;
    margin-left: 5rem;
    margin-right: 5em;
}

.Footer-section-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block: 20px;
}

@media (max-width: 1150px) {
    .Footer-image {
        width: 200px;
        object-fit: contain;
    }
    .Footer-separator {
        display: none;
    }
}

@media (max-width: 700px) {
    .Footer-section-info {
        font-size: 10px;
    }
    .Footer-section-info-image {
        width: 20px;
    }
}

@media (max-width: 465px) {
    .Footer-image {
        display: none;
    }
    footer {
        justify-content: center;
    }
}