.Loader {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2000;
}

.Loader-logo {
    width: 10%;
    animation: moveLogo 0.5s linear alternate infinite;
}


@keyframes loading {
    0% {
        transform: skewX(0);
    }
    50% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}